.cards-item.padding-top,
.cards-item.padding-bottom {
  padding: var(--gap);
}

.cards-item.flex {
  flex-direction: column;
  justify-content: flex-start;
  gap: 0;
}
.cards-item.flex>div {
  flex-basis: auto;
  flex-grow: 0;
}
.cards-item.flex>.cards-content {
  flex-grow: 1;
}

.cards-link-wrapper.flex {
  height: 100%;
  gap: 0;
}
.cards-link-wrapper.flex>div {
  flex-grow: 0;
  flex-basis: auto;
  width: 100%;
}

.cards-link {
  margin-top: auto;
}

.cards-image:empty {
  display: none;
}
.cards-image img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
